[submodule "static/client/src/pyodide-react"]
	path = static/client/src/pyodide-react
	url = git@github.com:TheAllSeeing/pyodide-react
[submodule "static/client/react"]
	path = static/client/react
	url = git@github.com:TheAllSeeing/pyodide-react
